<div class="boards" id="board${id}">
  <div class = "container" id = "contenedor-principal">
    <div id="panel" class="row flex-row flex-nowrap">
      <div class="col-3 column" id="button">
        <div class="input-group w-auto">
          <input type="text" id="inputColumnName" class="form-control enter-as-button" placeholder="Add Column" aria-label="Example input" aria-describedby="nameCard"/>
          <button class="btn btn-primary enter-button" type="button" id="botonCrearColumna1" (click)="crearColumna()" data-mdb-ripple-color="dark">
            +
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
